<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Prediksi Iris Dataset </h1>

    <form action="http://localhost:5000/result" method="POST">
        <p>Sepal Length (cm) =   
            <input name="SL" type="float" 
            placeholder="Ketik Sepal Length..."/></p>
        <p>Sepal Width (cm) =   
            <input name="SW" type="float" 
            placeholder="Ketik Sepal Width..."/></p>
        <p>Petal Length (cm) =   
            <input name="PL" type="float" 
            placeholder="Ketik Petal Length..."/></p>
        <p>Petal Width (cm) =
            <input name="PW" type="float" 
            placeholder="Ketik Petal Width..."/></p>
        <p><input type="submit" value="OK"></p>
    </form>
</body>
</html>