<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Nama :  {{hasilpoke['name']}}
    <img src= "{{hasilpoke['sprites']['front_default']}}">
    ID :  {{hasilpoke['id']}}
    Height :  {{hasilpoke['height']}}
    Weight :  {{hasilpoke['weight']}}
    <form action="http://localhost:1234/">
        <button type="submit">Kembali</button>
     </form>
</body>
</html>